{% extends "base.html" %}
{% load staticfiles %}
 {% block styles %}
        body{
            background-image:url('{% static 'img/beach.jpg' %}');
        }
          {% endblock %}
{% block content %}


   <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                          <h1 class="display-3">Hello, world!</h1>
                          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
                          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
                    </div>

                    <div class="col-sm-6">
                        <img src="{% static 'img/iphone.png' %}" class="img-fluid"/>
                     </div>
                </div>
            </div>
      </div>
    <div class="text-center">
        <form method="POST" action="">
            {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="Submit" class="btn"/>
        </form>
    </div>
{% endblock %}